.carousel-div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
}

.default-card {
    max-width: 300px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
}

.flex-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    padding-bottom: 15px;
}

.main-row {
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

.my-button {
    width: 100%;
    background-color: #003576;
    color: white;
}

.my-carousel {
    margin-top: 25px;
}

.story-card {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}

.story-span {
    white-space: break-spaces;
}

.story-title {
    margin-top: 15px;
}

.view-container {
    background-color: #eeeeee;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

v-card-text {
    white-space: break-spaces;
}